// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
* Set up a decent box model on the root element
*/
html {
    box-sizing: border-box;
    font-size: 52.5%;
    touch-action: manipulation;
    overflow-x: hidden;
    @include medium-and-up {
        font-size: 62.5%;
    }
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: blue;
}

/**
* Basic styles for links
*/
a {
    color: $anakiwa;
    text-decoration: none;
}

// iFrame
iframe {
    width: 100%;
}

// Tables
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
th,
td {
    padding: 1rem 1rem;
    text-align: left;
    font-size: 1.6rem;
    border-bottom: 1px solid blue;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}
