// -----------------------------------------------------------------------------
// This file contains all icomoon icons
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'icomoon';
    src:url('#{$icomoon-font-path}/icomoon.woff2') format('woff2'),
        url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-with-circle-right {
    &:before {
        content: $icon-chevron-with-circle-right;
    }
}
