// -----------------------------------------------------------------------------
// This file contains all styles related to the main naviagtion of the site/application.
// -----------------------------------------------------------------------------

.main-nav {
    display: none;
    width: 50%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
    }
    li {
        padding: 0 2rem;
        display: inline-block;
    }
    a {
        display: block;
        font-size: 1.6rem;
    }
}
