// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    padding: 1rem 1.8rem;
    height: 36px;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: inline-block;
    transition: background 300ms ease-out;
    position: relative;
    cursor: pointer;
    @include medium-and-up {
        padding: 1.3rem 2.5rem;
        height: 48px;
    }

    &.btn-primary {
        background-color: darken($gray, 35%);
        border: 1px solid darken($gray, 15%);
        color: $white;
        @include on-event {
            background-color: darken($gray, 25%);
            border: 1px solid darken($gray, 10%);
            .icon-arrow-right {
                transform: translateX(5px);
            }
        }
    }
}
