// -----------------------------------------------------------------------------
// This file contains all styles related to the site-message component.
// -----------------------------------------------------------------------------

.site-message {
    padding: 1rem 2rem;
    width: 100%;
    background-color: $toryblue;
    @include medium-and-up {
        padding: 0 2rem;
        width: 200px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
    }
}
