// -----------------------------------------------------------------------------
// This file contains all styles related to the social sharing component.
// -----------------------------------------------------------------------------

.social-sharing {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    @include medium-and-up {

    }

    li {
        margin: 0 1rem;
        display: inline-block;
    }
    &__icon {
        display: block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: cover;

        svg {
            color: $white;
            fill: currentColor;
            opacity: 0.5;
            transition: opacity 300ms ease-out;
            @include on-event {
                opacity: 0.9;
            }
        }
    }
}

