// -----------------------------------------------------------------------------
// This file contains all styles related to the splash animation.
// -----------------------------------------------------------------------------

.splash-anim {
    width: 800px;
    height: 300px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    fill: $shiraz;
    .svg-container {
        @include svg-responsive (925px, 188px, 100%);
    }
}
