// -----------------------------------------------------------------------------
// This file contains all styles related to the people detail page of the site/application.
// -----------------------------------------------------------------------------

.people-detail {
    position: relative;

    > .container {
        padding-bottom: $base-line-height;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include min-screen($medium) {
            flex-direction: row;
        }
    }

    &__subnav {
        @include max-screen($large) {
            display: none;
        }

        @include min-screen($large) {
            margin-right: ($gutter-width * 2);
            order: 0;
            left: 0;
            flex: 1 0 $primary-sidebar;
        }

        @include min-screen($xlarge) {
            margin-right: ($gutter-width * 3);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include min-screen($large) {
            width: 100%;
            flex-direction: row;
        }
    }

    &__main {
        order: 2;

        @include min-screen($large) {
            margin-right: ($gutter-width * 2);
            order: 1;
            flex: 1 0 400px;
        }

        @include min-screen($xlarge) {
            margin-right: ($gutter-width * 3);
        }

        &__heading {
            font-weight: 100;

            @include type-setting(5);

            @include min-screen($medium) {
                @include type-setting(6);
            }
        }

        &__bio {
            &--small {
                font-weight: 400;

                @include type-setting(1);

                @include min-screen($medium) {
                    @include type-setting(2);
                }
            }
        }
    }

    &__aside {
        order: 1;

        @include min-screen($large) {
            order: 2;
            flex: 0 1 400px;
        }

        &__picture {
            margin-bottom: $base-line-height;
            position: relative;

            img {
                display: block;
                width: 100%;
            }

            &__download-button {
                width: 45px;
                height: 40px;
                display: block;
                background-color: $prussian-blue;
                color: $white;
                transition: background 400ms ease-out;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 100;

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: inherit;
                    position: absolute;
                    left: -10px;
                    transform: skewX(-18deg);
                }

                @include on-event {
                    background-color: $bahama-blue;
                }

                .download-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 16px;
                    transform: translate(-70%, -50%);
                }

                .svg-container {
                    @include svg-responsive (24px, 24px, 100%);
                }
            }
        }
    }

}
